#FIRST{
    background-color: rgb(136, 88, 96);
padding: 10px;
}

#SECOND{
 background-color: rgb(167, 161, 161);
padding: 10px;
}


#THIRD{
background-color: rgba(255, 166, 0, 0.575);
padding: 10px;
}

#FORTH{
    background-color: rgb(173, 147, 152);
    padding: 10px;
}

#FIFTH{
    background-color: rgba(52, 148, 116, 0.712);
    padding: 10px;
}

#SIXTH{
    background-color:rgb(129, 36, 36) ;
    padding: 10px;
}


